html, body {
    height: 100%;
}

body {
    color: white; /*cor das letras*/
    background-color: black; /*cor do fundo*/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto !important;
} /*faz referencia a todo o projeto*/

ul {
    display: flex; /*diz que o posicionamento da lista será flexivel*/
    justify-content: space-around; /*justifica*/
    list-style-type: none; /*põe o estilo ponto inicial da lista como "none"*/
    align-items: center; /*alinha os itens ao centro*/
    padding: 16px; /*dá uma distancia de 16px*/
    background-color: #74ccff;
    margin-bottom: 20px;
} /*faz referencia apenas as ul(aquela lista criada no HTML)*/

a {
    color:aliceblue;
    text-decoration: none;
}

body {
    margin: 20px;
}

header img {
    margin: 20px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 3px solid #74ccff
}

h1 {
    color: #74ccff;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

footer a {
    margin:20px;
}


.center {
    text-align: center;
}

.viewport{
    display: flex;
    
}
